body {
    background-image: url("/static/images/star-trek-2.jpg");
    /* color: #222; */
    
}

#header {
    font-family: startrek;
    font-size: 400%;
    color: whitesmoke;
    text-shadow: -4px -4px 0 rgb(255, 179, 80), 4px -4px 0 rgb(255, 179, 80), -4px 4px 0 rgb(255, 179, 80), 4px 4px 0 rgb(255, 179, 80);
    opacity: 85%;
    margin: .5%;
    width: 30%;
    float: left;
}

/* wraps entire chat box */
#wrapper{
    margin: 1%;
    margin-right: 30%;
    float: right;
    padding-bottom: 3%;
    background:#EBF4FB;
    width: 504px;
    border: 1px solid #ACD8F0; 
    text-align: center; 
    font-family: startrek;
}

/* top of chat box */
#menu { 
    padding: 1% 6%; 
    font-size: 120%;
}

.welcome { 
    float: left; 
}
  
.logout { 
    float: right; 
}

a {
    color: #0000FF;
    text-decoration: none; 
}
  
a:hover { text-decoration: underline; }

/* main chat screen */
#chatbox {
    text-align:left;
    font-size: 150%;
    margin: 0 auto;
    margin-bottom: 5%;
    padding: 2%;
    background:#fff;
    width: 85%;
    height: 270px;
    border: 1px solid #ACD8F0;
    overflow:auto; 
}
  
/* message and submit */
/* #msgarea {
    /* margin: 0;
    padding: 0;  
}*/

#usermsg {
    vertical-align: top;
    width: 78%;
    border: 1px solid #ACD8F0; 
    font-family: startrek2;
    font-size: 150%;
}
  
#submitmsg { 
    vertical-align: top;
    width: 10%; 
    height: max-content;
    font-family: startrek;
    font-size:90%;
    padding: .5%;
    text-align: center;
}
  
.error { 
    color: #ff0000; 
}
  

  

  
.msgln { margin:0 0 2px 0; }

@font-face {
    font-family: startrek;
    src: url("/static/fonts/TNG_Title.ttf");
 }

@font-face {
    font-family: startrek2;
    src: url("/static/fonts/FINALOLD.TTF");
 }