body {
	background-image: url("../web/Images/stars-2.jpg");
}

.header {
    font-family: startrek;
    font-size: 300%;
    color: whitesmoke;
    text-shadow: -3px -3px 0 rgb(255, 179, 80), 3px -3px 0 rgb(255, 179, 80), -3px 3px 0 rgb(255, 179, 80), 3px 3px 0 rgb(255, 179, 80);
    opacity: 85%;
    margin-left: 1%;
    width: 30%;
    float: left;
}

.status {
    font-family: startrek;
    font-size: 150%;
    float: right;
    margin-bottom: 2%;
    width: 50%;
    height: 60px;
    border: 5px solid aqua;
    color: aqua;
}

.grid {
	float: left;
	width: 50%;
    margin: 2%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.6);
    border: 5px ridge rgb(124, 236, 120);
    border-collapse: collapse;
    box-shadow: 0px 1px 25px 20px rgb(124, 236, 120);
}

.grid-caption {
    font-family: startrek;
    font-size: 300%;
    color: white
}

.grid-td {
	width: 50px;
    height: 50px;
    border: 5px ridge rgb(124, 236, 120);
    box-shadow: 0px 0px 10px 5px rgba(124, 236, 120, .7);
}

.cargo {
    width: 30%;
    height: auto;
    margin-top: 5%;
    float: left;
    border-collapse: collapse;
    background-color: black;
    
}

.cargo-caption {
    font-family: startrek;
    font-size: 300%;
    color: white
}

.cargo-td-item {
    width: 40%;
    height: 50px;
    border: 5px ridge rgb(124, 236, 120);
    border-right: none;
    padding-left: 3%;
    text-align: left;
    color: white;
}

.cargo-td-amount {
    width: 40%;
    height: 50px;
    border: 5px ridge rgb(124, 236, 120);
    border-left: none;
    padding-right: 3%;
    text-align: right;
    color: white;
}

@font-face {
    font-family: startrek;
    src: url("../web/Fonts/TNG_Title.ttf");
 }