body {
   text-align: center;
   margin: 25%;

}

h1 {
   font-family: startrek;
   font-size: 400%;
}

.inline {
   display: inline;
   margin-right: 5%;
}

@font-face {
   font-family: startrek;
   src: url("../web/Fonts/TNG_Title.ttf");
}